.header {
  @media screen and (min-width: $tablet) {
    position: relative;
    overflow: hidden;
  }

  margin-left: auto;

  width: 100%;

  background-color: $primary-bg-color;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  @media screen and (max-width: $tablet - 1px) {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url('../images/header/SliderMob1.jpg');
    background-color: rgba(47, 48, 58, 0.8);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url('../images/header/SliderMob1@2x.jpg');
    }
  }
}
.header-main {
  width: 100%;
  @media screen and (max-width: $tablet - 1px) {
    padding-top: 110px;
  }
  padding-top: 40px;
}

.header-menu {
  position: relative;
  z-index: 10;
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 192px;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    align-items: flex-start;
  }
}
.header-menu.is-open {
  display: block;
  position: absolute;
  top: 0;
  right: 0;

  z-index: 12;
  width: 337px;
  height: 100vh;
  padding-top: 118px;
  padding-bottom: 80px;
  padding-left: 40px;
  // overflow-y: scroll;
  background-color: $primary-bg-color;
}
.header-modal.is-open {
  position: fixed;

  z-index: 11;

  display: block;
  width: 100%;
  height: 100%;

  background: rgba(25, 28, 38, 0.2);
}
.header-menu.is-open .btn-register {
  color: $primary-text-color;
}

.container-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.header-container {
  height: 580px;
  @media screen and (min-width: $tablet) {
    display: flex;

    height: 680px;
  }
}

.header-subtitle {
  display: flex;
  max-width: 400px;

  position: relative;
  z-index: 10;

  margin-left: 31px;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
    margin-left: 120px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 100px;
  }
}
.header-subtitle:before {
  display: block;
  margin-right: 20px;
  transform: translateY(6px);
  content: ' ';
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.header-title {
  max-width: 400px;
  position: relative;
  z-index: 10;

  margin-left: 31px;
  margin-bottom: 20px;

  @media screen and (max-width: $mobile - 1px) {
    font-size: 40px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
    margin-left: 120px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 100px;
  }
}
.header-text {
  position: relative;
  z-index: 10;

  max-width: 306px;

  margin-left: 31px;
  @media screen and (min-width: $tablet) {
    margin-left: 120px;
    max-width: 355px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 400px;
    margin-left: 100px;
  }
}

.header-thumb {
  position: absolute;
  top: 0;
  right: 0;

  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    height: 100%;
    width: 100%;
    top: 0;
    left: calc((100% - 768px) / 2 + 160px);
  }

  @media screen and (min-width: $desktop) {
    left: calc((100% - 1170px) / 2 + 120px);
  }
}

.prev,
.next,
.btn0,
.btn1,
.btn2 {
  font-family: 'Open Sans';
  font-style: 400;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-align: right;
  letter-spacing: 0.1em;

  cursor: pointer;

  color: #ffffff;
  background-color: transparent;
  border: none;
}
.prev:hover,
.prev:focus,
.next:hover,
.next:focus,
.btn0:hover,
.btn0:focus,
.btn1:hover,
.btn1:focus,
.btn2:hover,
.btn2:focus {
  outline: none;
}
.btnS0,
.btnS1 {
  display: block;

  height: 2px;
  background-color: #ffffff;
}
.btnS0 {
  width: 18px;
}
.btnS1 {
  width: 8px;
}

.prev {
  position: absolute;
  left: 424px;
  bottom: 40px;
  @media screen and (min-width: $desktop) {
    left: 874px;
  }
}
.prev::after {
  position: relative;
  left: 20px;
  display: block;
  content: ' ';
  width: 60px;
  height: 1px;
  background-color: #ffffff;
  margin-top: 8px;
}

.next {
  position: absolute;
  left: 523px;
  bottom: 40px;
  @media screen and (min-width: $desktop) {
    left: 973px;
  }
}
.next::after {
  position: relative;
  display: block;
  content: ' ';
  width: 60px;
  height: 1px;
  background-color: #ffffff;
  margin-top: 8px;
}

.btn0 {
  position: absolute;
  left: 552px;

  padding: 0;
  @media screen and (min-width: $desktop) {
    left: 1002px;
  }
}
.btn1,
.btn2 {
  position: absolute;
  left: 562px;

  padding: 0;
  @media screen and (min-width: $desktop) {
    left: 1012px;
  }
}

.btn0 {
  bottom: 353px;
}
.btn1 {
  bottom: 339px;
}
.btn2 {
  bottom: 325px;
}

.header-svg {
  fill: $primary-bg-color;

  @media screen and (min-width: $tablet) {
    fill: $primary-text-color;
  }
}
.logo:hover .header-svg,
.logo:focus .header-svg {
  fill: $accent-bg-color;
  cursor: pointer;
}

.burger__svg {
  padding: 0;
  margin: 0;

  // fill: $primary-bg-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .burger__button:hover .burger__svg,
// .burger__button:focus .burger__svg {
//   fill: $primary-text-color;
// }

.icon-open {
  fill: $primary-bg-color;
}
.icon-close {
  fill: $primary-text-color;
}

.burger__button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;

  height: 40px;

  background-color: transparent;
}
.icon-close {
  display: none;
}
.burger__button.is-open {
  position: relative;

  z-index: 13;

  overflow-y: scroll;
}
.burger__button.is-open .icon-close {
  display: block;
}
.burger__button.is-open .icon-open {
  display: none;
}

.navigation-list {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}
.navigation-list {
  padding-left: 0;
  margin: 0;

  list-style: none;
}
.navigation-item a {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-decoration: none;
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  color: $primary-bg-color;

  @media screen and (max-width: $tablet - 1px) {
    font-size: 18px;
    line-height: 25px;

    color: $primary-text-color;
  }
}

.navigation-item:hover a,
.navigation-item:focus a {
  color: $accent-bg-color;
  cursor: pointer;
}
.navigation-item:first-child {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    margin-left: 24px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 40px;
  }
}

.navigation-item:not(:last-child) {
  margin-right: 24px;
  @media screen and (max-width: $tablet - 1px) {
    margin-bottom: 24px;
  }
}
.contacts__list {
  padding-left: 0;
  margin: 0;

  list-style: none;

  @media screen and (max-width: $tablet - 1px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}
.contacts__ref {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;

  color: $primary-bg-color;

  @media screen and (max-width: $tablet - 1px) {
    font-size: 18px;
    line-height: 25px;
    text-align: left;

    color: $primary-text-color;
  }
}

.btn-register.mobile {
  text-align: center;
  text-decoration: none;
  @media screen and (max-width: $tablet - 1px) {
    width: 194px;
  }
}
.contacts__item:last-child {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    margin-bottom: 20px;
  }
}

.contacts__item:not(:last-child) {
  @media screen and (max-width: $tablet - 1px) {
    margin-top: 64px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 40px;
  }
}

.contacts__ref:hover,
.contacts__ref:focus {
  color: $accent-bg-color;

  cursor: pointer;
}

.how-we-work::before {
  display: block;
  content: ' ';
  width: 60px;
  height: 1px;

  background-color: $primary-text-color;

  @media screen and(min-width: $tablet) {
    margin-right: 40px;
  }
  @media screen and(max-width: $tablet - 1px) {
    position: absolute;
    top: 10px;
    left: 0;
  }
}
.how-we-work-list {
  padding-left: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  list-style: none;
}
.how-we-work {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.how-we-work-item:not(:last-child) {
  @media screen and(max-width: $tablet - 1px) {
    margin-bottom: 24px;
  }
  @media screen and(min-width: $tablet) {
    margin-right: 40px;
  }
}
.how-we-work-item:first-child {
  @media screen and(max-width: $tablet - 1px) {
    margin-bottom: 24px;
  }
}
.how-we-work-list a {
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2em;

  color: $primary-text-color;
}
.how-we-work {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding: 0;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.how-we-work-tablet {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotate(-90deg) translate(50%, 0);

    padding: 0;
  }
}

.how-we-work-ref:hover,
.how-we-work-ref:focus {
  color: $accent-bg-color;
  cursor: pointer;
}

.how-we-work-tablet .how-we-work-list {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}
.container-tablet {
  position: relative;
  z-index: 10;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    max-width: 120px;

    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  display: none;

  background-color: $primary-bg-color;
}
